<div class="app-page-title">
  <div class="page-title-wrapper">
    <div class="page-title-heading">
      <div class="page-title-icon">
        <i class="pe-7s-angle-left   icon-gradient bg-mean-fruit">
        </i>
      </div>
      <div>Approve Indent
        <div class="page-title-subheading">This is an example dashboard created using build-in elements and
          components.
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <div class="main-card mb-3 card">
      <div class="card-header">Approve Indents
        <!-- <div class="btn-actions-pane-right">
            <div role="group" class="btn-group-sm btn-group">
              <button class="active btn btn-focus">Last Week</button>
              <button class="btn btn-focus">All Month</button>
            </div>
          </div> -->
      </div>
      <div class="table-responsive">
        <p-table #dt [value]="approveIndents" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
        [globalFilterFields]="['date','spaName','indentNo','indentQty','gunnyBags','month','status']">
          <ng-template pTemplate="caption">
            <div style="text-align: right">
              <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
              <input type="text" pInputText size="50" placeholder="Global Filter"
                (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th>Date </th>
              <th>SPA Name</th>
              <th>Indent No.</th>
              <th>Gunny Bags Model</th>
              <th>Indent Qty.</th>
              <th>Month</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-indents>
            <tr>
              <td>{{indents.date}}</td>
              <td>{{indents.spaName}}</td>
              <td>{{indents.indentNo}}</td>
              <td>{{indents.gunnyBags}}</td>
              <td>{{indents.indentQty}}</td>
              <td>{{indents.month}}</td>
              <td>{{indents.status}}</td>
              <td><button type="submit">Reject</button>&nbsp;<button type="submit">Approve</button></td>
            </tr>
          </ng-template>
          <!-- <p-paginator></p-paginator> -->
        </p-table>
      </div>
      <div class="d-block text-center card-footer">
        <!-- <button class="mr-2 btn-icon btn-icon-only btn btn-outline-danger"><i
              class="pe-7s-trash btn-icon-wrapper"> </i></button>
          <button class="btn-wide btn btn-success">Save</button> -->
      </div>
    </div>
  </div>
</div>
