<div class="app-page-title">
  <div class="page-title-wrapper">
    <div class="page-title-heading">
      <div class="page-title-icon">
        <i class="pe-7s-angle-left   icon-gradient bg-mean-fruit">
        </i>
      </div>
      <div>Creat Indent
        <!-- <div class="page-title-subheading">This is an example dashboard created using build-in elements and
          components.
        </div> -->
      </div>
    </div>
  </div>
</div>
<div class="col-md-12 col-lg-12">
  <div class="mb-3 card">
    <div class="card-header-tab card-header-tab-animation card-header">
      <div class="card-header-title">
        <i class="header-icon lnr-apartment icon-gradient bg-love-kiss"> </i>
        Create Indent
      </div>

    </div>
    <div class="card-body">
      <p-table #dt [value]="districtWiseDemand">
        <ng-template pTemplate="header">
          <tr>
            <th>Date </th>
            <th>SPA Name</th>
            <th>District Name</th>
            <th>Mandal</th>
            <th>Season</th>
            <th>Gunny Bags Model</th>
            <th>Req Qty</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-indents>
          <tr>
            <td>{{indents.date}}</td>
            <td>{{indents.spaName}}</td>
            <td>{{indents.dtName}}</td>
            <td>{{indents.mandal}}</td>
            <td>{{indents.season}}</td>
            <td>{{indents.gunnyBags}}</td>
            <td>{{indents.reqQty}}</td>
          </tr>
        </ng-template>
        <!-- <p-paginator></p-paginator> -->
      </p-table>
      <form>
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="form-group row">
              <label for="inputPassword" class="col-lg-3 col-form-label">SPA Name</label>
              <div class="col-lg-9">
                <select class="form-control">
                  <option>Andhra pradesh</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12">

            <div class="form-group row">
              <label for="inputPassword" class="col-lg-3 col-form-label">Indent Number</label>
              <div class="col-lg-9">
                <input type="text" class="form-control" id="inputPassword" placeholder="">
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="form-group row">
              <label for="inputPassword" class="col-lg-3 col-form-label">Gunny Bag Models</label>
              <div class="col-lg-9">
                <select class="form-control">
                  <option>--- Select ---</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12">

            <div class="form-group row">
              <label for="inputPassword" class="col-lg-3 col-form-label">Indent QTY(MT)</label>
              <div class="col-lg-9">
                <input type="text" class="form-control" id="inputPassword" placeholder="">
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="form-group row">
              <label for="inputPassword" class="col-lg-3 col-form-label">Month</label>
              <div class="col-lg-9">
                <select class="form-control">
                  <option>--- Select ---</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="d-block text-center card-footer">
      <button class="btn-wide btn btn-success">Create</button>
    </div>
  </div>
</div>
