
  <div class="app-page-title">
    <div class="page-title-wrapper">
      <div class="page-title-heading">
        <div class="page-title-icon">
          <i class="pe-7s-angle-left   icon-gradient bg-mean-fruit">
          </i>
        </div>
        <div>Manage Indent
          <div class="page-title-subheading">This is an example dashboard created using build-in elements and
            components.
          </div>
        </div>
      </div> 
    </div>
  </div>
  

  <div class="row">
    <div class="col-md-12">
      <div class="main-card mb-3 card">
        <div class="card-header">Manage Indents
          <!-- <div class="btn-actions-pane-right">
            <div role="group" class="btn-group-sm btn-group">
              <button class="active btn btn-focus">Last Week</button>
              <button class="btn btn-focus">All Month</button>
            </div>
          </div> -->
        </div>
        <div class="card-body">
        <div class="table-responsive">
          <p-table #dt [value]="manageIndents" [paginator]="true" [rows]="5" [showCurrentPageReport]="true">
          
              <ng-template pTemplate="header">
                  <tr>
                      <th>Date </th>
                      <th>SPA Name</th>
                      <th>Month</th>
                      <th>Indent No.</th>
                      <th>Indent Qty(MT)</th>
                      <th>Gunny Bags Type</th>
                      <th>Status</th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-manageIndents>
                  <tr>
                      <td>{{manageIndents.date}}</td>
                      <td>{{manageIndents.spaName}}</td>
                      <td>{{manageIndents.month}}</td>
                      <td>{{manageIndents.indentNo}}</td>
                      <td>{{manageIndents.indentQty}}</td>
                      <td>{{manageIndents.gunnyBags}}</td>
                      <td>{{manageIndents.status}}</td>
                  </tr>
              </ng-template> 
          </p-table>
        </div> 
        </div>
      </div>
    </div>
  </div>
 